body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(177,12,246,1) 39%, rgb(127, 18, 133) 100%);
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}
div {
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: justify;
}