body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(177,12,246,1) 39%, rgba(244,0,255,1) 100%);
}

h1 {
    color: red;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}